@tailwind base;
@tailwind components;
@tailwind utilities;
.containers {
    width: 1140px;
    margin: 0 auto;
}
select {
    outline: none;
    border: none;
    background: transparent;
}
input {
    outline: none;
}